################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/FinalProject.sln
/FinalProject.csproj
/.vs
/bin/Debug/net6.0
